## Creating mean ensembles from submission files

In [1]:
# 사용법: 
# 1) 스크립트를 실행하기 전에 submissions 폴더를 먼저 만듭니다. 
# 2) 앙상블할 submission 화일을 submissions 폴더에 저장합니다.
# 3) 실행하면 현재 폴더에 앙상블한 submission 화일이 생성됩니다.

import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

# 아래 폴더가 있다는 가정 하에 수행
folder = 'submissions'
nf = 0
for f in os.listdir(folder):
    ext = os.path.splitext(f)[-1]
    if ext == '.csv': 
        s = pd.read_csv(folder+"/"+f)
    else: 
        continue
    if nf == 0: 
        slist = s
    else: 
        slist = pd.merge(slist, s, on="ID")
    nf += 1

In [2]:
slist

,ID,Salary_x,Salary_y,Salary_x,Salary_y,Salary
0,SID10000,2370.605038,2217.450833,2260.923405,2411.680872,2064.626599
1,SID100030,3295.820787,3414.427858,3118.305834,3269.578663,3022.275853
2,SID100204,5223.502372,5178.692907,4947.378030,5253.355651,4133.801568
3,SID100220,2146.560336,2205.421756,2244.926306,2234.465551,2367.109825
4,SID100230,2205.297726,2176.594897,2241.605593,2061.447961,2311.537637
...,...,...,...,...,...,...
11043,SID9934,2009.983542,1882.663882,2103.338579,2037.138172,1922.741436
11044,SID9944,1762.806941,1814.184572,1762.570192,1803.615379,1761.722107
11045,SID99563,2340.487947,2355.907436,2320.988719,2323.168874,2470.377083
11046,SID99786,1439.840645,1781.465559,1346.373019,1700.209896,1474.580283
11047,SID99806,2004.469445,1975.525918,1955.634662,1898.018796,1754.042421

In [3]:
ID = slist['ID']
slist.drop(columns = 'ID', inplace=True)

weight = np.array([0.35,0.3,0.2,0.1,0.05])
pred_df = slist * weight
pred_df.columns = [0, 1, 2, 3, 4]

p = weight

pred_df['pred'] = pred_df[0] + pred_df[1] + pred_df[2] + pred_df[3] + pred_df[4]
pred_df.drop(columns=[0,1,2, 3, 4],inplace=True)
pred_df=pred_df.reset_index().rename(columns={'index':'id'})
pred = pred_df['pred']

In [4]:
pred

0        2291.531112
1        3279.598458
2        5103.334952
3        2203.709952
4        2194.875470
            ...
11043    1988.812009
11044    1782.199483
11045    2345.976498
11046    1551.408501
11047    1962.853014
Name: pred, Length: 11048, dtype: float64

In [5]:
t = pd.Timestamp.now()
fname = f"p{p}mean_submission_{t.month:02}{t.day:02}_{t.hour:02}{t.minute:02}.csv"
pd.DataFrame({'ID': ID, 'Salary': pred}).to_csv(fname, index=False)
print(f"'{fname}' is ready to submit.")

'p[0.35 0.3  0.2  0.1  0.05]mean_submission_1125_1244.csv' is ready to submit.

## End